.main-navigation {
  margin-top: 20px;
  border-bottom: 1px solid darkgray;
}

#cities {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-left: 0;
}

.nav-item {
  text-decoration: none;
  font-family: "Helvetica", sans-serif;
  color: darkgray;
}

.nav-item.active {
  color: darkslategrey;
  border-bottom: 1px solid darkslategrey;
}
