.main-navigation {
  margin-top: 20px;
  border-bottom: 2px solid lightgray;
}

#cities {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-left: 0;
}

.nav-item {
  text-decoration: none;
  font-family: "Helvetica", sans-serif;
  color: lightgray;
  margin: 5px;
}

.nav-item.active {
  color: darkslategrey;
}

.nav-item:not(.active):hover {
  color: blue;
}

#navigation-indicator {
  position: absolute;
  height: 2px;
  bottom: -2px;
  background: darkslategrey;
  transition: 0.5s;
}